/*Generic Styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:"cursive, Tahoma, Arial";
    background-color:bisque;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
} 
p {
    padding: 2%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}
/*Standard sizes*/
.headline {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:"1.6em";
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}
.bullet li {
    list-style:disc;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    padding: 8px;

}
.title {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:"2.5em";
    font-weight: "bold";
    line-height:"1.5em";
    text-align: center;
    text-shadow: "4px";
}
.imagerender {
    object-fit: cover;
    border-radius: "5px";
    border-style: ridge;
    position: relative;
    width:90%;
    height:auto;
    max-width: 100%;
    max-height: auto;
    text-align: center;
    margin: 2% auto 2% auto;
    display: block;
}
.videorender {
    object-fit: cover;
    text-align: center;
    display:flex;
    object-fit: scale-down;
    width:100%;
    height:auto;
    max-width:100%;
    padding: 2%;
    margin: auto auto auto 5%;
}
.logo {
    margin-left: 1%;
    margin-top: 1%;
    font-size: 40px;
    position: relative;
    border-color: darkgray;
    border-radius: 1px;
    border-inline-color: lightblue;
    border-width: 3px;
    border-style: inset;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 1%;
    background-color: rgb(28, 75, 76);
    color: #fff;
    margin: auto auto 1% auto;
}
.navlinks a {
    color: #fff;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 2em;
    margin: auto auto auto 10%;
}
.menu li {
    padding: 2% 10%;
    color:#fff;
}
.hyperlinks {
    color: blue;
}
.hyperlinks:hover {
    color: green;
}
.hyperlinks:active {
    color:darkgoldenrod;
}
.footertag {
    text-align: center;
}

/* Responsive Styling*/
@media only screen and (max-width: 700px) {
    .menu {
        display:inline-flex;
        font-size: 2em;
        margin-left: 5%;
    }
    .menu li {
        padding: 2px;
        margin: 1%;
        color:#fff;
    }
    .menu li a:hover {
        color: green;
    }
    .menu li a:active {
        color:darkgoldenrod;
    }
}

@media only screen and (max-width: 550px) {
    .menu {
        display:inline-flex;
        font-size: 1.2em;
        margin-left: 5%;
    }
    .menu li {
        padding: 2px;
        margin: 1%;
        color:#fff;
    }
    .menu li a:hover {
        color: green;
    }
    .menu li a:active {
        color:darkgoldenrod;
    }
}